doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/nav.pug

        form.BrowseForm
            label
                p Room
                textarea(name="room", rows=5, required=true, placeholder="Enter an alphanumeric room identifier up to 3004 characters long.")

            div.Numbers
                label
                    p Wall
                        |
                        |
                        span 1-4
                    input(name="wall", type="number", min=1, max=4, value=1, required=true)

                label
                    p Shelf
                        |
                        |
                        span 1-5
                    input(name="shelf", type="number", min=1, max=5, value=1, required=true)

                label
                    p Book
                        |
                        |
                        span 1-32
                    input(name="book", type="number", min=1, max=32, value=1, required=true)

                label
                    p Page
                        |
                        |
                        span 1-410
                    input(name="page", type="number", min=1, max=410, value=1, required=true)

            button Go

        include includes/footer.pug

    script(src="/js/handleBrowseForm.js", type="text/javascript")
