doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/nav.pug
        div.PageInfo
            pre room #{info.shortRoom} / wall #{info.wall} / shelf #{info.shelf} / book #{info.book} / page #{info.page}
            - if (info.room !== info.shortRoom)
                details
                    summary View full page reference
                    p #{info.identifier}

        div.PageContentWrapper
            div.PageContent
                div.Lines
                    each line, index in lines
                        - const i = index + 1
                        span
                            |
                            | #{i < 10 ? `0${i}` : i}
                pre
                    | #{lines.join('\n')}

        div.PageNavigation
            - if (info.identifier === '1.1.1.1.1')
                div
            - else
                a(href=`/ref/${prevPage}`) &larr; Previous
            a(href=`/ref/${nextPage}`) Next &rarr;

        include includes/footer.pug
